/* Slider */
.slide-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slide-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slide-list:focus
{
    outline: none;
}
.slide-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slide-slider .slide-track,
.slide-slider .slide-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slide-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slide-track:before,
.slide-track:after
{
    display: table;

    content: '';
}
.slide-track:after
{
    clear: both;
}
.slide-loading .slide-track
{
    visibility: hidden;
}

.slide-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slide-slide
{
    float: right;
}
.slide-slide img
{
    display: block;
    /*max-width: none;*/
}
.slide-slide.slide-loading img
{
    display: none;
}
.slide-slide.dragging img
{
    pointer-events: none;
}
.slide-initialized .slide-slide
{
    display: block;
}
.slide-loading .slide-slide
{
    visibility: hidden;
}
.slide-vertical .slide-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slide-arrow.slide-hidden {
    display: none;
}

/* slide Theme Color */

/* Arrows */
.slide-prev,
.slide-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: #000;
}
.slide-prev:hover,
.slide-prev:focus,
.slide-next:hover,
.slide-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slide-prev:hover:before,
.slide-prev:focus:before,
.slide-next:hover:before,
.slide-next:focus:before
{
    opacity: 1;
}
.slide-prev.slide-disabled:before,
.slide-next.slide-disabled:before
{
    opacity: .25;
}

.slide-prev:before,
.slide-next:before
{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 25px;
    line-height: 1;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slide-prev{
    left: 40px;
    width: 50px;
    height: 50px;
    z-index: 999;
}
[dir='rtl'] .slide-prev
{
    right: 40px;
    left: auto;
}
.slide-prev:before
{
    content: '\f053';
}
[dir='rtl'] .slide-prev:before
{
    content: '\f054';
}

.slide-next{
    right: 40px;
    width: 50px;
    height: 50px;
    z-index: 999;
}


[dir='rtl'] .slide-next
{
    right: auto;
    left: -25px;
}
.slide-next:before
{
    content: '\f054';
}
[dir='rtl'] .slide-next:before
{
    content: '←';
}

/* Dots */
.slide-dotted.slide-slider
{
    margin-bottom: 30px;
}

.slide-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slide-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slide-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slide-dots li button:hover,
.slide-dots li button:focus
{
    outline: none;
}
.slide-dots li button:hover:before,
.slide-dots li button:focus:before
{
    opacity: 1;
}
.slide-dots li button:before
{
    font-family: 'slide';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slide-dots li.slide-active button:before
{
    opacity: .75;
    color: black;
}

